extends ../../layout/default.pug
block main
  .container
    .card.custom-card
      .card-header
        h3 Chi tiết hộ khẩu
      .card-body
        .details-grid
          .detail-item
            strong Mã hộ:
            br
            | #{family.code}
          .detail-item
            strong Chủ hộ:
            br
            | #{family.head.fullName}
          .detail-item
            strong Địa chỉ:
            br
            | #{family.address}
          .detail-item
            strong Trạng thái:
            br
            | #{family.status}
          .detail-item
            strong Số thành viên:
            .member-count #{family.members.length}
          .detail-item.members
            strong Các thành viên trong hộ:
            ul.members-list
              each member in family.members
                li.member-chip #{member.fullName} - #{member.relationLabel} - #{member.cccd}
        a.btn.btn-primary.mt-3.mb-3(href='/family') Quay lại danh sách