extends ../../layout/default.pug
block main
  .container
    .card.custom-card
      .card-header
        h3 Chi tiết nhân khẩu
      .card-body
        .details-grid
          .detail-item
            strong Họ và tên:
            br
            | #{person.fullName}
          .detail-item
            strong Số CMND/CCCD:
            br
            | #{person.cccd}
          .detail-item
            strong Giới tính:
            br
            | #{person.genderLabel}
          .detail-item
            strong Ngày sinh:
            br
            | #{person.dateOfBirth ? person.dateOfBirth.toLocaleDateString("vi-VN") : ""}
          .detail-item
            strong Nghề nghiệp:
            br
            | #{person.job}
          .detail-item
            strong Quan hệ với chủ hộ:
            br
            | #{person.relationLabel}
          .detail-item
            strong Mã hộ:
            br
            | #{person.familyCode ? person.familyCode.code : 'Chưa có thông tin'}
          .detail-item
            strong Chủ hộ:
            br
            | #{person.familyCode ? person.familyCode.head.fullName : 'Chưa có thông tin'}
          .detail-item
            strong Địa chỉ hộ:
            br
            | #{person.familyCode ? person.familyCode.address : 'Chưa có thông tin'}
          .detail-item
            strong Trạng thái:
            br
            | #{person.status}
        a.btn.btn-primary.mt-3(href='/person') Quay lại danh sách